.PreGameSelectionRoot {
  vertical-align: center;
  horizontal-align: center;
}

.container {
  background-color: gradient( linear, 0% 0%, 0% 100%, from( rgba(80, 80, 80, 0.5) ), to( rgba(0, 0, 0, 0.8) ) );
  flow-children: down;
  padding: 2px;
  vertical-align: bottom;
  horizontal-align: right;
  border-radius: 4px;
}

.inner {
  border: 4px solid black;
  border-radius: 4px;
  padding: 4px;
  flow-children: down;
}
